
          <div class="row">

            <!-- Bar Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body">
                  <h6 class="m-0 font-weight-bold text-primary">Business Overview</h6>
                  <hr>
                  <div class="chart-area">
                    <canvas id="myBarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body">
                  <h6 class="m-0 font-weight-bold text-primary">Branch Percentage Share</h6>
                  <hr>
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
